* {
  box-sizing: border-box;
  padding-bottom: 20px;
}

header {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

#highscores {
  text-decoration: none;
  outline: none;
  color: blue;
}

#initials {
  text-align: center;
  text-justify: center;
}

.mainDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

h1 {
  font-size: 36px;
}

p {
  font-size: 20px;
}

button {
  background-color: blueviolet;
  color: white;
  font-size: 22px;
  border-radius: 5px;
  height: 30px;
  width: 120px;
}

.choiceButton {
  display: block;
  background-color: blueviolet;
  color: white;
  font-size: 22px;
  border-radius: 5px;
  height: 30px;
  width: 250px;
}

button:hover {
  cursor: pointer;
}

.initialArea {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#initialForm {
  padding-right: 15px;
}

.hidden {
  display: none;
}

.correct {
  background-color: greenyellow;
}

.incorrect {
  background-color: red;
}