* {
  box-sizing: border-box;
}

header {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

#highscores {
  text-decoration: none;
}

.mainDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 20px;
}

.startButton {
  background-color: blueviolet;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}

.startButton:hover {
  cursor: pointer;
}

.hidden {
  display:none;
}

.correct {
  background-color: greenyellow;
}

.incorrect {
  background-color: red;
}