* {
  box-sizing: border-box;
}

header {
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 20px;
}

.button {
  background-color: blueviolet;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}

.button:hover {
  cursor: pointer;
}

.hidden {
  display:none;
}

.correct {
  background-color: greenyellow;
}

.incorrect {
  background-color: red;
}